@import"../core/core";

.grid-wrapper {
    display: grid;
    grid-template-columns: 180px 1fr auto;
    grid-template-areas: "logo middle language"
        "logo middle language";
    @include main_font(rgb(49, 102, 19));
    font-family: 'Mark';
}

.header {
    background-color: white;
    margin: 30px 30px 0 30px;
}

.slid1 {

    p,
    h1 {
        color: white;
        font-family:'Mark';
        font-weight: 700; ;
    }
p {font-size: 30px;}
}


.slid2 {

    p,
    h1 {
        color: white;
        font-family: 'Mark';
        font-weight: 700;
    }
p {font-size: 30px;}
}
 .slid3 {
     p, h1 {color: white;
        font-family: 'Mark';
        font-weight: 700;
    }
    p {font-size: 30px;}
}
 
 * {margin: 0;
padding: 0;}
 