@import"../core/core";

.grid-wrapper {
    display: grid;
    grid-template-columns: 180px 1fr auto;
    grid-template-rows: 50% 50%;
    grid-template-areas: "logo middle language"
        "logo middle language";
    @include main_font(rgb(49, 102, 19));
}

.header {
    background-color: white;
}

.slid1 {

    p,
    h3 {
        color: orange;
        font-family:'Concert One', cursive;
        font-weight: 700; ;
    }
}

.slid2 {

    p,
    h3 {
        color: brown;
        font-family: 'Concert One', cursive;
        font-weight: 700;
    }
}
 .slid3 {
     p, h3 {color: blue;
        font-family: 'Concert One', cursive;
        font-weight: 700;
    }
 }
 * {margin: 0 auto;
padding: 0 auto;}
