.main {
    max-width: 1440px;
}

@media (min-width: 1440px) {
    .excurcion-text {
        margin: 30px;
    }

    .wrapper2 {
        margin: 0 70px;
    }

    .ex {
        font-size: 20px;
    }
}

.wrapper2 {
    background-color: orange;
    display: grid;
    grid-template-columns: 50% 1fr;

    .ex-text {
        grid-area: text;
    }

    .ex-images {
        grid-area: images;
    }

    grid-template-areas: "text images";
}

.mg2, .img1 {
    img {
        width: 100%;
        height: 50%;
        // margin-top: 0px;
    }
}
.img1 {margin-top: 0px;}



@media (min-width: 769px) and (max-width: 1024px) {
    .wrapper2 {
        margin: 0 30px;
    }

    .excurcion-text {
        margin: 10px;
    }

    .ex-button {
        font-size: 15px;
    }

    .resolve {
        display: grid;
        grid-template-rows: 15% 1fr;

        .project_img {
            img {
                width: 100%;
            }

            margin-top: 40px;
        }

        .ex-images {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
        }
    }
}

@media (max-width: 767px) {
    .carusel {
        display: none;
    }

    .excurcion-text {
        margin: 10px;
    }

    .excursion_img {
        img {
            width: 100%;
            height: 50%;
        }
    }

    .wrapper2 {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
        grid-template-areas: "text"
            "images";
    }

    .resolve {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10% 35% auto;
        grid-template-areas: "task"
            "img"
            "text";

        .project_img {
            text-align: center;

            img {
                width: 75%;
                height: 100%;
            }
        }

        .project_task {
            text-align: center;
        }

        .resolve-text {
            font-size: 15px;
        }
    }
}

@media (max-width: 1024px) {
    .product-imagemain {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .product-wrapper {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 200px auto;

        grid-template-areas: 'image'
            'menu';
    }
    .product-imagemain{ width: 100%;
        height: 100%;}
}

@media (min-width: 769px) {
    .product-imagemain{ width: 100%;
        height: 941px;}
    .product-wrapper {
        grid-template-columns: 20% 80%;
        grid-template-areas: "image menu";
    }
}

@media (max-width: 425px) {

    .for_garden,
    .product-imagemain {
        font-size: 25px;
    }
}

@media (min-width: 426px) {

    .for_garden,
    .product-imagemain {
        font-size: 45px;
    }
}