.main {max-width: 1440px;}

@media (min-width: 1440px)
{
    .excurcion-text {margin: 30px;}
    .wrapper2 {margin: 0 70px;}
.ex {font-size: 20px;}}
.wrapper2 { 
    background-color: rgb(49, 102, 19);
    display: grid;
    grid-template-columns:  50% 1fr;
    .ex-text {grid-area: text;}
    .ex-images {grid-area: images;}
    grid-template-areas: "text images";}
.excursion_img {
    img {width: 70%;
height: 40%;
margin: 10px;}}



@media (min-width: 769px) and (max-width: 1024px)
{.wrapper2 {margin: 0 30px;}
.excurcion-text {margin: 10px;}
.ex-button {font-size: 15px;}
    .resolve {display: grid;
        grid-template-rows: 15% 1fr;
    .project_img {img {width: 100%;}
margin-top: 40px;}

.ex-images {display: flex;
flex-direction: row;
justify-content: space-around;}}}

@media (max-width: 767px) {
    .carusel {display: none;}
    .excurcion-text {margin: 10px;}
    .excursion_img {
        img {width: 30%;
    height: 20%;}}
.wrapper2 {display: grid;
grid-template-columns: 100%;
grid-template-rows: auto auto;
grid-template-areas: "text"
"images";}

    .resolve {display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 10%
        35% auto; 
        grid-template-areas: "task"
        "img"
        "text";
        .project_img {text-align: center;
            img {width: 75%;
        height: 100%;}}
        .project_task {
            text-align: center;
        }
    .resolve-text {font-size: 15px;}}}
