@font-face {
  font-family: "Mark";
  src: url(../../public/Fonts/18942.otf);
}
.grid-wrapper {
  display: grid;
  grid-template-columns: 180px 1fr auto;
  grid-template-areas: "logo middle language" "logo middle language";
  font-family: "Mark";
  font-size: 18px;
  color: #316613;
  font-family: "Mark";
}

.header {
  background-color: white;
  margin: 30px 30px 0 30px;
}

.slid1 p,
.slid1 h1 {
  color: white;
  font-family: "Mark";
  font-weight: 700;
}
.slid1 p {
  font-size: 30px;
}

.slid2 p,
.slid2 h1 {
  color: white;
  font-family: "Mark";
  font-weight: 700;
}
.slid2 p {
  font-size: 30px;
}

.slid3 p, .slid3 h1 {
  color: white;
  font-family: "Mark";
  font-weight: 700;
}
.slid3 p {
  font-size: 30px;
}

* {
  margin: 0;
  padding: 0;
}

.main-idea {
  margin: 0 30px;
}

.idea {
  border-bottom: 3px solid #316613;
}

.idea {
  text-align: center;
}

.navbar-nav {
  width: 100%;
  padding: 0px 10px 40px 10px;
}
.navbar-nav .nav-item {
  margin: 0 5px;
  width: 100%;
}
.navbar-nav .nav-item .nav-link {
  text-align: center;
  text-decoration: none;
  width: 100%;
  font-family: "Mark";
  color: #316613;
}

.navbar {
  padding: 0 5px;
}

.languageOne {
  background-color: orange;
  border: none;
}
.languageOne .icon-lang {
  font-family: "fontello";
}

.lang {
  padding: 10px;
  font-size: 14px;
}
.lang .menuitems {
  padding: 3px;
}

.header {
  max-width: 1440px;
}

@media (max-width: 768px) {
  .nav-item {
    border-bottom: 2px solid seagreen;
  }
}
@media (max-width: 1024px) {
  .navbar-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .navbar-toggler {
    border: 0px solid white;
  }
  .navbar-toggler .navbar-toggler-icon {
    color: greenyellow;
  }

  .nav-item {
    height: 90px;
    width: 100%;
  }
}
@media (max-width: 1024px) and (max-width: 425px) {
  .grid-wrapper {
    grid-template-columns: 180px auto;
    grid-template-rows: 210px 1fr;
    grid-template-areas: "logo language" "middle middle";
  }
}
@media (min-width: 769px) {
  .navbar-nav {
    flex-direction: row;
    justify-self: space-between;
    flex-wrap: wrap;
  }
  .navbar-nav .nav-item {
    margin: 0 5px;
    height: 76px;
    width: 22%;
  }
  .navbar-nav .nav-item:hover {
    background-color: seagreen;
  }
  .navbar-nav .nav-item:hover .nav-link:hover {
    color: white;
  }
}
@media (min-width: 1025px) {
  .navbar-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0px 10px 40px 10px;
  }
  .navbar-nav .nav-item {
    display: flex;
    flex-wrap: wrap;
  }
  .navbar-nav .nav-item .nav-link {
    text-align: center;
    text-decoration: none;
    font-size: 23px;
    font-family: "Mark";
    color: #316613;
  }
}
.logo {
  grid-area: logo;
}

.middle {
  grid-area: middle;
}

.language {
  grid-area: language;
}

.footer {
  max-width: 1440px;
}

@media (min-width: 700px) and (max-width: 1024px) {
  .card-body-footer {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 75% 25%;
    grid-template-areas: "place contacts" "media media";
  }

  .footer-item {
    min-width: 320px;
  }

  .place {
    grid-area: place;
  }

  .contacts {
    grid-area: contacts;
  }

  .media {
    grid-area: media;
    margin: 0 auto;
    text-align: center;
  }
  .media .footer-item_media {
    justify-content: center;
  }
}
@media (min-width: 1025px) {
  .card-body-footer {
    display: grid;
    grid-template-columns: 33.3% 33.3% 33.3%;
    grid-template-areas: "place contacts media";
  }
}
@media (max-width: 700px) {
  .card-body-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer-item {
    max-width: 320px;
  }
}
.img {
  height: 100%;
  width: calc(100%-20px);
  background-image: url(/public/images/background_2.png) no-repeat;
  background-size: cover;
  background-color: #316613;
  border: 0px solid;
}
.img img {
  width: 100%;
  height: 28px;
}

.card-header__footer,
.card {
  border: 0px solid #A86B0F;
}

.card-header__footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.contacts {
  text-decoration: none;
}

.footer-item-contact__data ul {
  list-style-type: none;
  padding-left: 0;
}

.footer-item_media {
  display: flex;
  width: 100%;
  flex-direction: row;
}
.footer-item_media .place {
  grid-area: place;
}
.footer-item_media .contacts {
  grid-area: contacts;
}
.footer-item_media .media-item {
  margin: 10px;
}
.footer-item_media .media-item a {
  font-family: "fontello";
  color: white;
  text-decoration: none;
  font-size: 24px;
}
.footer-item_media .media-item a:hover {
  color: yellow;
  text-decoration: none;
}

.media {
  flex-direction: column;
  grid-area: media;
}

.contact_us {
  background-color: #A86B0F;
  font-size: 25px;
  color: white;
}
.contact_us:hover {
  color: yellow;
  background-color: yellowgreen;
  text-decoration: none;
}
.contact_us:focus {
  text-decoration: none;
}

.place-link, .tel-link, .email-link {
  text-decoration: none;
  color: white;
}
.place-link:hover, .tel-link:hover, .email-link:hover {
  color: yellow;
  text-decoration: none;
}

.carusel {
  position: relative;
  background: url(public/images/background.png) no-repeat fixed;
  background-size: contain;
  background-position: bottom;
}

.background__main {
  position: absolute;
  bottom: 0px;
  width: 100%;
}

.carusel {
  width: 100%;
  height: 100%;
}

.background__main2 {
  position: absolute;
  top: 0px;
  z-index: 1;
  width: 100%;
}

.carousel-control-prev, .carousel-control-next {
  opacity: 1;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  width: 50px;
  height: 50px;
}

.carousel-control-next-icon:hover {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffa500' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5L3.75 4l-2.5 2.5L2.75 8l4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-control-prev-icon:hover {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ffa500' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5L4.25 4l2.5-2.5L5.25 0z'/%3e%3c/svg%3e");
}

.main {
  max-width: 1440px;
  margin: 0 20px;
}

.project_name {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.project_name .task-aim {
  text-align: center;
  padding: 0 auto;
  font-family: "Mark";
  color: brown;
  font-size: 30px;
  font-weight: 600;
}
.project_name .nam_project {
  margin: 30px auto;
  color: #316613;
  font-size: 37px;
  font-family: "Mark";
  font-weight: 700;
}

.resolve {
  display: grid;
  position: relative;
  grid-template-columns: 55% 1fr;
  grid-template-rows: 10% 1fr;
  grid-template-areas: "task task" "text img";
}
.resolve .project_task {
  grid-area: task;
  font-size: 35px;
  font-family: "Mark";
  color: brown;
  padding: 0 auto;
}
.resolve .project_task .task_text {
  text-align: center;
}
.resolve .project_img {
  grid-area: img;
}
.resolve .project_img img {
  width: 85%;
}
.resolve .resolve-text {
  grid-area: text;
  font-size: 28px;
  padding-left: 20px;
  padding-top: 30px;
  font-family: "Mark";
  color: #316613;
}

.project_idea_background img {
  height: auto;
  width: calc(100% - 10px);
}

.doings p {
  font-family: "Mark";
  font-size: 34px;
  text-align: center;
  margin: 20px;
}

.tasks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.tasks .taskBlock {
  margin: 10px auto;
  width: 280px;
}
.tasks .taskBlock .taskImage img {
  width: 80%;
}

.taskName,
.taskText {
  font-family: "Mark";
  text-align: center;
  margin: 10px;
}

.taskName {
  font-size: 25px;
  font-weight: 800;
}

.taskText {
  font-size: 20px;
}

.main {
  max-width: 1440px;
}

@media (min-width: 1440px) {
  .excurcion-text {
    margin: 30px;
  }

  .wrapper2 {
    margin: 0 70px;
  }

  .ex {
    font-size: 20px;
  }
}
.wrapper2 {
  background-color: orange;
  display: grid;
  grid-template-columns: 50% 1fr;
  grid-template-areas: "text images";
}
.wrapper2 .ex-text {
  grid-area: text;
}
.wrapper2 .ex-images {
  grid-area: images;
}

.mg2 img, .img1 img {
  width: 100%;
  height: 50%;
}

.img1 {
  margin-top: 0px;
}

@media (min-width: 769px) and (max-width: 1024px) {
  .wrapper2 {
    margin: 0 30px;
  }

  .excurcion-text {
    margin: 10px;
  }

  .ex-button {
    font-size: 15px;
  }

  .resolve {
    display: grid;
    grid-template-rows: 15% 1fr;
  }
  .resolve .project_img {
    margin-top: 40px;
  }
  .resolve .project_img img {
    width: 100%;
  }
  .resolve .ex-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (max-width: 767px) {
  .carusel {
    display: none;
  }

  .excurcion-text {
    margin: 10px;
  }

  .excursion_img img {
    width: 100%;
    height: 50%;
  }

  .wrapper2 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas: "text" "images";
  }

  .resolve {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 35% auto;
    grid-template-areas: "task" "img" "text";
  }
  .resolve .project_img {
    text-align: center;
  }
  .resolve .project_img img {
    width: 75%;
    height: 100%;
  }
  .resolve .project_task {
    text-align: center;
  }
  .resolve .resolve-text {
    font-size: 15px;
  }
}
@media (max-width: 1024px) {
  .product-imagemain {
    font-size: 70px;
  }
}
@media (max-width: 768px) {
  .product-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 200px auto;
    grid-template-areas: "image" "menu";
  }

  .product-imagemain {
    width: 100%;
    height: 100%;
  }
}
@media (min-width: 769px) {
  .product-imagemain {
    width: 100%;
    height: 941px;
  }

  .product-wrapper {
    grid-template-columns: 20% 80%;
    grid-template-areas: "image menu";
  }
}
@media (max-width: 425px) {
  .btn, .product-imagemain {
    font-size: 25px;
  }

  .for_garden {
    font-size: 15px;
  }
}
@media (min-width: 426px) {
  .for_garden,
.product-imagemain {
    font-size: 45px;
  }

  .btn {
    font-size: 30px;
  }
}
.excursion_wrapper {
  background-color: orange;
  font-family: "Mark";
  position: relative;
}
.excursion_wrapper .background__main2 {
  position: absolute;
  width: 100%;
  top: 0px;
  z-index: 1;
}

.background_3 {
  background-color: orange;
  width: 100%;
  height: 100%;
}

.img_background {
  border: none;
  height: 26px;
}

.event-col {
  width: 100%;
}

.ex-text, .ex-images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px;
}

.ex-button {
  width: 100%;
  background-color: white;
  color: #316613;
  border-style: double;
  font-size: 26px;
}
.ex-button:hover {
  color: orange;
  background-color: white;
}
.ex-button:focus {
  width: 100%;
  background-color: #316613;
  outline: none;
}

.ev-button {
  width: 100%;
  background-color: white;
  color: #316613;
  border-style: double;
  font-size: 26px;
}
.ev-button:hover {
  color: orange;
  background-color: white;
}
.ev-button:focus {
  width: 100%;
  background-color: #316613;
  outline: none;
}

.ex .card {
  color: #316613;
}

.products {
  background-color: #316613;
  font-family: "Mark";
}

.product-wrapper {
  padding: 40px 15px;
  background-color: #316613;
  display: flex;
  flex-direction: column-reverse;
}
.product-wrapper .product-menu {
  grid-area: menu;
  background-color: #316613;
  width: 100%;
}
.product-wrapper .product-menu .accordion {
  width: 100%;
}
.product-wrapper .product-menu .accordion .card {
  background-color: #316613;
}
.product-wrapper .product-menu .accordion .card .card-header {
  width: 80%;
  margin: auto;
}
.product-wrapper .product-menu .accordion .card .card-header h2 {
  width: 100%;
}
.product-wrapper .product-menu .accordion .card .card-header h2 button {
  width: 100%;
  border-radius: 75px;
  height: 160px;
}
.product-wrapper .product-menu .accordion .card .card-header h2 button:hover {
  color: orange;
  text-decoration: none;
}
.product-wrapper .product-menu .accordion .card .collapse {
  background-color: white;
  width: 100%;
  border-radius: 25px;
}
.product-wrapper .product-menu .accordion .card .collapse .card-body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.product-wrapper .product-imagemain {
  grid-area: image;
  border-radius: 75px;
  text-align: center;
  display: flex;
  height: auto;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 900;
  background: url(../../public/images/products/main_img.jpg) no-repeat center;
  background-size: cover;
}
.product-wrapper .product-imagemain p {
  margin: 90px auto;
}

.vegetables {
  background: url(../../public/images/products/vegetables.jpg) no-repeat center;
  background-size: cover;
  color: white;
  font-weight: 900;
  font-family: "Mark";
}

.fruits {
  background: url(../../public/images/products/fruits.jpg) no-repeat center;
  background-size: cover;
  color: white;
  font-weight: 900;
  font-family: "Mark";
}

.berries {
  background: url(../../public/images/products/berries.jpeg) no-repeat center;
  background-size: cover;
  color: white;
  font-weight: 900;
  font-family: "Mark";
}

.green {
  background: url(../../public/images/products/green.jpg) no-repeat center;
  background-size: cover;
  color: white;
  font-weight: 900;
  font-family: "Mark";
}

.for_garden {
  background: url(../../public/images/products/for_garden.jpg) no-repeat center;
  background-size: cover;
  color: white;
  font-weight: 900;
  font-family: "Mark";
}

.product-image {
  width: 200px;
  height: 200px;
  text-align: center;
  color: white;
  font-size: 35px;
  border-radius: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  margin: 15px;
}

.tomato {
  background: url(../../public/images/products/tomato.jpg) center no-repeat;
  background-size: cover;
}

.ogurets {
  background: url(../../public/images/products/ogurets.jpg) center no-repeat;
  background-size: cover;
}

.perez {
  background: url(../../public/images/products/perez.jpg) center no-repeat;
  background-size: cover;
}

.apple {
  background: url(../../public/images/products/apple.jpg) center no-repeat;
  background-size: cover;
}

.grusha {
  background: url(../../public/images/products/grushi.jpg) center no-repeat;
  background-size: cover;
}

.malina {
  background: url(../../public/images/products/malina.jpg) center no-repeat;
  background-size: cover;
}

.golubika {
  background: url(../../public/images/products/golubika.png) center no-repeat;
  background-size: cover;
}

.ezevika {
  background: url(../../public/images/products/ezhevika.jpg) center no-repeat;
  background-size: cover;
}

.ukrop {
  background: url(../../public/images/products/ukrop.jpg) center no-repeat;
  background-size: cover;
}

.petrushka {
  background: url(../../public/images/products/petrushka-2.jpg) center no-repeat;
  background-size: cover;
}

.biogumus {
  background: url(../../public/images/products/biogumus.jpg) center no-repeat;
  background-size: cover;
}

.grunt_un {
  background: url(../../public/images/products/grunt-uni.jpg) center no-repeat;
  background-size: cover;
}

.grunt-or {
  background: url(../../public/images/products/grunt-dlya-orhidey-88-768x513.jpg) center no-repeat;
  background-size: cover;
}

.kora_m {
  background: url(../../public/images/products/kora_dm.jpg) center no-repeat;
  background-size: cover;
  font-size: 30px;
}

.shp_k {
  background: url(../../public/images/products/SHHepka-1.jpg) center no-repeat;
  background-size: cover;
}

.schp-m {
  background: url(../../public/images/products/cshepa_m.jpg) center no-repeat;
  background-size: cover;
  font-size: 30px;
}

.zola {
  background: url(../../public/images/products/zola.jpg) center no-repeat;
  background-size: cover;
}

.product-price {
  font-size: 25px;
  text-align: center;
}

.footer-block, .card-header__footer, .card-footer {
  background-color: #A86B0F;
}

.footer {
  font-family: "Mark";
  font-size: 18px;
  color: white;
  font-family: "Mark";
  margin: 0 20px;
}

/*# sourceMappingURL=main.css.map */
