.excursion_wrapper {
    background-color: orange;
    font-family: 'Mark';
}

.background_3 {
    background-color: orange;
}

.img_background {
    border: none;
    height: 26px;
}


.event-col {width: 100%;}

.ex-text, .ex-images {
    display: flex;
    justify-content: center;
    align-items: center;
margin: 15px;}


    .ex-button {
        width: 100%;
        background-color: white;
        color: rgb(49, 102, 19);
        border-style: double;
        font-size: 36px;
        &:hover {
            color: orange;
            background-color: white;
        }

        &:focus { 
            width: 100%;
            background-color: rgb(49, 102, 19);
            outline: none;
        }

    }
.ev-button {
    width: 100%;
    background-color: white;
    color: rgb(49, 102, 19);
    border-style: double;
    

    font-size: 26px;

    &:hover {
        color: orange;
        background-color: white;
    }

    &:focus { 
        width: 100%;
        background-color: rgb(49, 102, 19);
        outline: none;
    }

}
    .ex {
        .card {
            color: rgb(49, 102, 19);
        }
    }
    