.products {
    background-color: rgb(49, 102, 19);
    font-family: 'Mark'
}

.product-wrapper {
    padding: 40px 15px;
    background-color: rgb(49, 102, 19);
    display: flex;
    flex-direction: column-reverse;

    .product-menu {
        grid-area: menu;
        background-color: rgb(49, 102, 19);
        width: 100%;

        .accordion {
            width: 100%;

            .card {
                background-color: rgb(49, 102, 19);

                .card-header {
                    width: 80%;
                    margin: auto;

                    h2 {
                        width: 100%;

                        button {
                            width: 100%;
                            border-radius: 75px;
                            height: 160px;

                            &:hover {
                                color: orange;
                                text-decoration: none;
                            }
                        }
                    }
                }

                .collapse {
                    background-color: white;
                    width: 100%;
                    border-radius: 25px;

                    .card-body {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                    }
                }
            }
        }
    }

    .product-imagemain {
        grid-area: image;
        border-radius: 75px;
        text-align: center;
        display: flex;
        height: auto;
        justify-content: center;
        align-items: center;
        color: white;
        font-weight: 900;
        background: url(../../public/images/products/main_img.jpg) no-repeat center;
        background-size: cover;
        p {
            margin: 90px auto;
        }
    }
}

.vegetables {
    background: url(../../public/images/products/vegetables.jpg) no-repeat center;
    background-size: cover;
    color: white;
    // font-size: 25px;
    font-weight: 900;
    font-family: 'Mark';
}

.fruits {
    background: url(../../public/images/products/fruits.jpg) no-repeat center;
    background-size: cover;
    color: white;
    // font-size: 25px;
    font-weight: 900;
    font-family: 'Mark';
}

.berries {
    background: url(../../public/images/products/berries.jpeg) no-repeat center;
    background-size: cover;
    color: white;
    // font-size: 25px;
    font-weight: 900;
    font-family: 'Mark';
}

.green {
    background: url(../../public/images/products/green.jpg) no-repeat center;
    background-size: cover;
    color: white;
    // font-size: 25px;
    font-weight: 900;
    font-family: 'Mark';
}

.for_garden {
    background: url(../../public/images/products/for_garden.jpg) no-repeat center;
    background-size: cover;
    color: white;

    font-weight: 900;
    font-family: 'Mark';
}