.navbar-nav {width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
padding: 20px 10px;
.nav-item { width: 299px;
    height: 76px;
.nav-link {text-align:center;
    text-decoration: none;
    font-size: 23px;
font-family: 'Concert One', cursive;
color: rgb(49, 102, 19);}}}
